*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    background-color: chocolate;
    color: aliceblue;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.nav-icon{
    height: 10px;
    width: 10px;
    display: inline;
    margin-top: 4px;
}
.sub-nav{
    display: flex;
    gap: 8px;
}
.logo{
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: white;
}
.my-logo{
    height: 50px;
    width: fit-content;
    margin-right: 8px;
}
main{
    height: 50vh;
}
.modal{
    width: 50%;
    background: peachpuff;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    transition: 0.3s;
}

.modal:hover{
    transform: translateX(18px);
    transform: translateY(-18px);
    background-color: rgb(255, 145, 0);
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }